---

---

<section
  id="scrapper-section"
  class="flex flex-row border border-gray-900 rounded-lg px-8 py-10 bg-gradient-to-r from-black to-blue-950"
>
  <div
    id="scrapper-url"
    class="w-1/3 p-3 mr-4 border rounded-lg border-violet-800"
  >
    <h2 class="text-white">Car Scrapper</h2>
    <form id="urlForm" class="w-full">
      <div class="py-2 flex">
        <input
          class="flex-1 border rounded-lg py-3 px-3 mt-4 bg-slate-900 border-blue-600 placeholder-white-500 text-white"
          type="text"
          placeholder="https://www.km77.com/"
          aria-label="Full name"
          id="url"
        />
        <button
          class="border border-blue-600 bg-blue-900 active:bg-blue-500 text-white rounded-lg py-3 px-3 mx-4 mt-4 font-semibold"
          type="submit"
        >
          Scrap!
        </button>
      </div>
    </form>
  </div>
  <form
    id="scrapper-result"
    method="POST"
    class="p-3 w-full border rounded-lg border-violet-800"
  >
    <h2 class="text-white">Sweet data :)</h2>
    <div id="car-name-section" class="flex flex-wrap items-center mt-4">
      <label class="text-white mr-3">Name:</label>
      <input
        class="flex-1 border rounded-lg py-3 px-3 mr-5 bg-slate-800 border-blue-600 placeholder-white-500 text-white"
        type="text"
        id="car-name"
        name="name"
        disabled
      />
      <label class="text-white px-3">Price:</label>
      <input
        class="border rounded-lg py-3 px-3 w-1/6 bg-slate-800 border-blue-600 placeholder-white-500 text-white"
        type="text"
        id="car-price"
        name="price"
        disabled
      />
    </div>
    <div id="car-hp-section">
      <label class="text-white mr-3">HP/CV:</label>
      <input
        class="border rounded-lg py-3 px-3 mt-4 mr-5 w-1/6 bg-slate-800 border-blue-600 placeholder-white-500 text-white"
        type="text"
        id="car-hp"
        name="hp"
        disabled
      />
      <label class="text-white px-3">Acceleration:</label>
      <input
        class="border rounded-lg py-3 px-3 mt-4 w-1/6 bg-slate-800 border-blue-600 placeholder-white-500 text-white"
        type="text"
        id="car-accel"
        name="accel"
        disabled
      />
    </div>
    <div id="car-size">
      <label class="text-white mr-3">Length:</label>
      <input
        class="border rounded-lg py-3 px-3 mt-4 mr-5 w-1/6 bg-slate-800 border-blue-600 placeholder-white-500 text-white"
        type="text"
        id="car-length"
        name="length"
        disabled
      />
      <label class="text-white px-3">Weight:</label>
      <input
        class="border rounded-lg py-3 px-3 mt-4 w-1/6 bg-slate-800 border-blue-600 placeholder-white-500 text-white"
        type="text"
        id="car-weight"
        name="weight"
        disabled
      />
    </div>
    <div id="car-trunk">
      <label class="text-white mr-3">Trunk with no seats:</label>
      <input
        class="border rounded-lg py-3 px-3 mt-4 mr-5 w-1/6 bg-slate-800 border-blue-600 placeholder-white-500 text-white"
        type="text"
        id="car-trunk-no-seat"
        name="trunk_space_no_seats"
        disabled
      />
      <label class="text-white px-3">Trunk with seats:</label>
      <input
        class="border rounded-lg py-3 px-3 mt-4 w-1/6 bg-slate-800 border-blue-600 placeholder-white-500 text-white"
        type="text"
        id="car-trunk-seat"
        name="trunk_space_seats"
        disabled
      />
      <label class="text-white px-3">Fuel tank:</label>
      <input
        class="border rounded-lg py-3 px-3 mt-4 w-1/6 bg-slate-800 border-blue-600 placeholder-white-500 text-white"
        type="text"
        id="fuel_tank"
        name="fuel_tank"
        disabled
      />
    </div>
    <div class="flex justify-end">
      <button
        id="car-scrapper-save-button"
        class="border border-blue-600 bg-blue-900 active:bg-blue-500 text-white rounded-lg py-3 px-5 mt-4 font-semibold disabled:bg-gray-500 disabled:border-gray-300 disabled:cursor-not-allowed"
        type="submit"
      >
        Save
      </button>
    </div>
  </form>
</section>
<div
  id="loader"
  class="absolute flex items-center justify-center inset-0 bg-gray-800 bg-opacity-90 hidden"
>
  <l-dot-pulse size="85" speed="1.3" color="#7c3aed"></l-dot-pulse>
</div>

<script>
  import { dotPulse } from "ldrs";
  import type { CarScrappedData } from "../../types/types";
  import {
    saveCarScrappedData,
    scrapperFormHandler,
  } from "../../lib/formHandlers";
  import {carScrapped} from "../../store";

  // Register the dot pulse loader
  dotPulse.register();

  // Save the scrapped data in DB form behaviour
  const scrapperResultForm = document.getElementById("scrapper-result");
  scrapperResultForm?.addEventListener("submit", (e) =>
    saveCarScrappedData(e)
  );

  const form = document.getElementById("urlForm");
  form?.addEventListener("submit", (e) => scrapperFormHandler(e));
</script>
